.card-profile-top {
	position: relative;
	padding: 15px 0;
	border-bottom: 2px solid #f0f0f0;
	&-info {
		&-media {
			img {
				border-radius: 50%;
			}
		}
		&-content {
			/* компенсируем разницу в положении элемента */
			margin-top: -10px;
		}
	}
	&-fieldset {
		position: relative;
		border: 0;
		padding: 0;
		&:not(:last-child) {
			margin-bottom: 26px;
		}
	}
	&__label {
		position: absolute;
		left: 0;
		top: 10px;
		font-size: 12px;
		line-height: 0.75;
		text-transform: uppercase;
		color: #666;
	}
	&__input {
		border: 0;
		border-bottom: 2px solid #333;
		padding: 0;
		width: 100%;
		height: 30px;
		line-height: 30px;
		color: #999;
		background-color: transparent;
		transition: all 0.3s ease-in-out;
		&:hover,
		&:focus {
			outline: none;
			border-bottom-color: #999;
		}
	}
}

.card-profile-approved {
	position: absolute;
	left: 16vw;
	top: 25vw;
	opacity: 0;
	transform: scale3d(1.1, 1.1, 1.1);
	transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1), transform 0.85s cubic-bezier(0.19, 1, 0.22, 1);
	@include sprite("approved-min");
	&.is-visible {
		opacity: 1;
		transform: scale3d(0.8, 0.8, 0.8);
	}
	@include breakpoint(425px) {
		left: 20vw;
	}
	@include breakpoint(medium) {
		left: 110px;
		top: 130px;
		transform: scale3d(1.1, 1.1, 1.1);
		&.is-visible {
			transform: scale3d(1, 1, 1);
		}
	}
	@include breakpoint(large) {
		left: auto;
		right: 3px;
		top: auto;
		bottom: 10px;
		width: 184px;
		height: 166px;
		@include sprite("approved");
	}
}