.card-profile-middle {
	border-bottom: 2px solid #f0f0f0;
	.card-section {
		padding-bottom: 0;
	}
	&__title {
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 18px;
		line-height: 16px;
	}
}
.card-profile-check {
	&-container {
		flex-wrap: wrap;
	}
	&-fieldset {
		margin: 0 0 35px;
	}
	&__label {
		position: relative;
		padding-left: 30px;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #999;
		&::after,
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			border-radius: 5px;
			width: 20px;
			height: 20px;
			background-color: #eee;
			transform: translateY(-50%);
			transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		}
		&::after {
			content: "";
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 13 10'%3E%3Cpath fill='#fff' d='M13.000,1.685 L4.200,10.000 L3.902,9.582 L3.315,10.000 L0.000,6.200 L1.685,5.000 L3.864,7.499 L11.800,0.000 L13.000,1.685 Z'/%3E%3C/svg%3E");
			background-position: center center;
			background-size: 50% 50%;
			background-repeat: no-repeat;
			background-color: transparent;
			opacity: 0;
			transform: translateY(-50%) scale(0);
			transition: all 0.3s ease-in-out;
		}
	}
	&__input {
		@include visually-hidden;
		&:checked {
			+ label {
				&::before {
					background-color: #0093d7;
				}
				&::after {
					stroke-dasharray: 126.37, 126.37;
					stroke-dashoffset: 0;
					opacity: 1;
					transform: translateY(-50%) scale(1);
				}
			}
		}
	}
}