.card-profile-bottom {
	padding: 20px 0;
	@include breakpoint(medium) {
		padding-top: 45px;
		padding-bottom: 40px;
	}
	&__title {
		margin: 5px 0;
		font-size: 18px;
		line-height: 24px;
	}
	&__number {
		margin-top: 15px;
		font-weight: 700;
		font-size: 50px;
		line-height: 42px;
		color: #0093d7;
	}
}

.meter {
	display: block;
	width: 257px;
	height: 133px;
	&-clock {
		transform: rotate(-90deg);
		transform-origin: 129px 119px;
	}
}