.card-profile-main {
	margin: 20px 5px;
	background-image: url("../images/bg.jpg");
	background-position: 50%;
	background-repeat: repeat-y;
	@include breakpoint(medium) {
		margin: 60px 0;
	}
}

@import "card-profile-top";
@import "card-profile-middle";
@import "card-profile-bottom";