include ../mixins/field-inputs
.card-section
	.row
		.small-4.medium-3.columns
			.card-profile-top-info-media
				img(src="images/face.jpg" alt="Моё изображение")

		.small-8.medium-9.columns
			.card-profile-top-info-content
				+input({
					name: 'Денис',
					id: 'userName',
					type: 'text',
					placeholder: 'Имя'
				})
				+input({
					name: '14/11/1995',
					id: 'userDate',
					type: 'data',
					placeholder: 'Дата рождения',
					className: 'js-mask-date'
				})
				+input({
					name: 'Иркутск',
					id: 'userCity',
					type: 'text',
					placeholder: 'Город',
					className: 'js-mask-city'
				})
				+input({
					name: '+7 908 659 49 48',
					id: 'userNumber',
					type: 'tel',
					placeholder: 'Контактные данные'
				})

		.card-profile-approved.js-approved