include ../mixins/field-check
.card-section
	h2.card-profile-middle__title
		| Навыки
	.card-profile-check-container.row
		+check({
			name: 'html5',
			id: 'html5',
			check: true
		})
		+check({
			name: 'sass',
			id: 'sass',
			check: true
		})
		+check({
			name: 'vanillajs',
			id: 'vanillajs',
			check: true,
			className: 'js-input-check'
		})
		+check({
			name: 'git',
			id: 'git',
			check: true
		})
		+check({
			name: 'css3',
			id: 'css3',
			check: true
		})
		+check({
			name: 'scss',
			id: 'scss',
			check: true
		})
		+check({
			name: 'angular',
			id: 'angular',
			check: false,
			className: 'js-input-check'
		})
		+check({
			name: 'foundation',
			id: 'foundation',
			check: true
		})
		+check({
			name: 'Бэм',
			id: 'bem',
			check: true
		})
		+check({
			name: 'gulp',
			id: 'gulp',
			check: true,
			className: 'js-input-check'
		})
		+check({
			name: 'jquery',
			id: 'jquery',
			check: true,
			className: 'js-input-check'
		})
		+check({
			name: 'bootstrap',
			id: 'bootstrap',
			check: true
		})