.card-section
	.row
		.medium-6.columns
			svg.meter#meter(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 248 131.3")
				path.meter-left(fill="#A3CD3B" d="M51.9,23C72.5,8.5,97.7,0,124.8,0c27.2,0,52.4,8.5,72.9,23l-34.5,43c-14.7-9.9-26.3-12.2-38.4-12.2 S98.6,58.2,86.4,66L51.9,23z")
				path.meter-center(fill="#0093D7" d="M200.8,24.9c31.4,25.5,47.2,63.2,46.3,101l-54.8,0.3c0.5-23.7-6.9-42.2-26.6-58.2L199.8,24.9z")
				path.meter-right(fill="#FFC815" d="M0,125.4c0-40.5,19.3-76.5,49.2-99.6L84,68.1C65.3,82.7,55.6,100,55.6,125.4C55.6,125.4,0,125.4,0,125.4z")
				path.meter-clock(fill="#3e3d40" d="M127.1,131.3c-5.1,0.1-9.2-4.1-9.2-9.3l8.6-54.9l10,54.9l0,0C136.4,127.1,132.2,131.2,127.1,131.3L127.1,131.3z")

		.medium-6.columns
			h2.card-profile-bottom__title
				| Мой уровень владения #[br] Java Script
			.js-skill-counter.card-profile-bottom__number(data-from="0")