main.main
	.row
		section.card.card-profile-main
			.card-profile-top
				include card-profile-top
			.card-profile-middle
				include card-profile-middle
			.card-profile-bottom
				include card-profile-bottom