mixin input(options)
	fieldset.card-profile-top-fieldset&attributes(attributes)
		input.card-profile-top__input.js-input(class=options.className id=options.id type=options.type name=options.id value=options.name placeholder=options.placeholder)