mixin check(options)
	fieldset.card-profile-check-fieldset.small-6.medium-3.columns&attributes(attributes)
		input.card-profile-check__input(class=options.className id=options.id type="checkbox" name=options.id checked=(options.check) ? 'checked' : undefined)
		label.card-profile-check__label(for=options.id)= options.name