extends pug/base

append vars
	- baseDir = ''
	- link.icon = 'favicon.ico'
	- title = 'Тестовое задание по верстке'
	- meta.description = 'Тестовое задание по верстке'
	- meta.viewport = 'width=device-width, initial-scale=1, maximum-scale=1'

block content
	include pug/components/main