@font-face {
	src: url("../fonts/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.woff2") format("woff2");
	font-family: "Roboto";
	font-display: auto;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	src: url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
	font-family: "Roboto";
	font-display: auto;
	font-weight: 500;
	font-style: normal;
}