$sprites: (
	"approved-min": (
		normal: (
			x: 186,
			y: 0,
			width: 64,
			height: 58,
			image: "sprites.png",
			total_width: 250,
			total_height: 166,
		),
		retina: (
			x: 372,
			y: 0,
			width: 128,
			height: 116,
			image: "sprites@2x.png",
			total_width: 500,
			total_height: 332,
		),
	),
	"approved": (
		normal: (
			x: 0,
			y: 0,
			width: 184,
			height: 166,
			image: "sprites.png",
			total_width: 250,
			total_height: 166,
		),
		retina: (
			x: 0,
			y: 0,
			width: 368,
			height: 332,
			image: "sprites@2x.png",
			total_width: 500,
			total_height: 332,
		),
	),
);

@each $name in map-keys($sprites) {
	.sprite-#{$name} {
		@include sprite($name);
	}
}
