// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

// FONTS

$font-family: "Roboto", "Helvetica", "Arial", sans-serif;

// foundation settings
$global-width: 660px;
$grid-columns: 8;
$global-left: 20px;
$global-right: 20px;